h1[mat-dialog-title] {
  text-align: center;
  color: #417490e5; 
  margin-bottom: 16px;
}

.mat-dialog-content, [mat-dialog-content] {
  font-size: 18px;
  line-height: 1.6;
  padding: 0 24px;
  color: #333;
}
