<h1 class="page-title">lessons</h1>

<mat-grid-list [cols]="gridCols" rowHeight="1:1.2" gutterSize="8px">
  <mat-grid-tile *ngFor="let lesson of lessons" >
    <div class="lesson-card">
      <div class="lesson-inner" [ngClass]="{ 'started': hasStarted(lesson) }">
        <h2>{{ lesson.lessonName }}</h2>
        <p><strong>Teacher:</strong> {{ lesson.teacherName }}</p>
        <p><strong>Num lessons:</strong> {{ lesson.numLessons }}</p>
        <p><strong>Start Date:</strong> {{ lesson.startDate | date }}</p>
        <p><strong>Price:</strong> {{ lesson.price }} $</p>
        <p><strong>Day:</strong>{{ Days[lesson.day] }}</p>
        <p><strong>Hour:</strong> {{ lesson.hour }}</p>
        <button mat-raised-button color="primary" class="hover-button" (click)="goToDetails(lesson.id)">Details</button>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
